includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - 
            identifier: trait.unused
        - 
            identifier: instanceof.alwaysTrue
        - 
            identifier: generics.lessTypes
        - 
            identifier: generics.notSubtype
        - '#Call to an undefined method#'
        - '#Call to an undefined static method#'
        - '#PHPDoc tag @property has invalid value#'