@tailwind utilities;

    .media-library {
        .media-library__breadcrumbs {
            @apply mt-5 mb-5 pb-2;
        }
        .form-container {
            @apply pb-4;

            &:not(:first-child) {
                @apply pt-4;
            }

            .form-container-content {
                @apply flex flex-col gap-x-3 lg:flex-row ;
            }
        }
        .ensure-select-width input.choices__input {
            width: auto !important;
        }

        .media-library__content__items__item__thumb,
        .media-library__item_detail__content__icon {
            color: rgba(var(--gray-500), 0.5);
            &:is(.dark *) {
                color: rgba(var(--gray-200), 1);
            }
        }
        .media-library__content__items__item__thumb,
        .media-library__item_detail__thumb,
        .media-library__item_detail {
            @apply ring-1 rounded-md;
            --tw-ring-color: rgba(var(--gray-200), 1);
            &:is(.dark *) {
                --tw-ring-color: rgba(var(--gray-400), 0.5);
            }
        }
        .media-library__content__items__item__thumb:hover {
            @apply shadow-lg shadow-gray-400/10;
            --tw-ring-color: rgba(var(--gray-200),0.5);
            &:is(.dark *) {
                --tw-ring-color: rgba(var(--gray-200),1);
            }
        }
        .media-library__content__items__item__thumb > img,
        .media-library__item_detail__thumb > img {
            @apply rounded-md;
        }

        .media-library__content__items__item__thumb__title,
        .media-library__item_detail__content__details__meta {
            color: rgba(var(--gray-600), 1);
            
            &:is(.dark *) {
                color: rgba(var(--gray-400), 1)
            }
        }

        .media-content-container {

            @apply flex flex-row gap-3;

            .media-library__content {
                @apply flex-1;

                .media-library__content__items {
                    @apply gap-2;
                }

                .media-library__content__items__item {
                    @apply flex flex-col items-center justify-center gap-3;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;

                    .media-library__content__items__item__thumb {
                        @apply cursor-pointer h-36 w-36 transition;

                        img {
                            @apply h-full w-full object-none;
                        }

                        .media-library__content__items__item__thumb__icon {
                            @apply size-8;
                        }
                    }

                    &.non-image-item > .media-library__content__items__item__thumb {
                        @apply flex flex-col items-center justify-center ring-1;
                    }

                    &.selected {
                        > .media-library__content__items__item__thumb {
                            --tw-ring-color: rgba(var(--c-500),1);
                            &:is(.dark *) {
                                --tw-ring-color: rgba(var(--c-500),1);
                            }
                        }
                        
                        & .media-library__content__items__item__thumb__title, 
                        & .media-library__content__items__item__thumb__icon {
                            color:rgba(var(--c-500),1);
                            &:is(.dark *) {
                                color: rgba(var(--c-400), 1);
                            }
                        }
                    }
                }

                .media-library__content__items__item__thumb__title {
                    @apply text-sm leading-5 w-full text-center overflow-hidden overflow-ellipsis whitespace-nowrap;
                }
            }
            .media-library__item_detail {
                @apply rounded-md max-h-max shadow flex flex-col flex-1 gap-4 bg-white;
                width: 25rem;
                &:is(.dark *) {
                    background-color: rgba(var(--gray-900), 0.8);
                }
    
                .media-library__item_detail__content {
                    @apply flex flex-col flex-1 gap-4;
    
                    .media-library__item_detail__thumb-container {
                        @apply flex flex-col justify-center items-center;
                    }

                    .media-library__item_detail__thumb {
                        background-color: rgba(var(--gray-200), 0.2);
                        img {
                            @apply size-64 object-cover;
                        }

                        &:has(.media-library__item_detail__content__icon) {
                            @apply size-64 flex items-center justify-center;
                        }
    
                        .media-library__item_detail__content__icon {
                            @apply size-20 stroke-1;
                        }

                        &:is(.dark *) {
                            background-color: rgba(var(--gray-800), 0.8);
                        }
                    }
    
                    .media-library__item_detail__content__details {
                        .media-library__item_detail__content__details__meta {
                            @apply text-sm;
                            .grid {
                                @apply gap-x-3;
                            }
                            strong {
                                font-weight: 600;
                            }
                            :is(.dark *) {
                                color: white;
                            }
                        }
                    }
                }
    
                .media-library__item_detail__content__actions {
                    @apply flex justify-center gap-2 pb-4;
                }
            }
        }
    }
