.tree-node-layout {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    gap: .5rem;

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #7a7a7a;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #8b8b8b;
    }
}
@media (min-width:1024px) {
    .tree-node-layout {
        flex-direction: row;
    }
}

.tree-node-sidebar-container {
    display: flex;
    flex-direction: column;
}

.tree-node-sidebar {
    height: 13rem;
    overflow: scroll;
}
@media (min-width:1024px) {
    .tree-node-sidebar{
        height: 100svh;
        min-width: 14rem;
        width: 16rem;
    }
}

.tree-node-main {
    flex-grow: 1;
    overflow: auto;
    padding: 0.25rem;
}

:is(.dark *) {
    ::-webkit-scrollbar-track {
        background: #2d3748;
    }
    /* ::-webkit-scrollbar-thumb {
        background: #7a7a7a;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #8b8b8b;
    } */
}