.tree-node-sidebar {
    min-width: 100px;
    max-width: 50%;
}

.tree-node-resizer {
    flex-basis: .25rem;
    flex-grow: 0;
    flex-shrink: 0;
    &:hover {
        cursor: col-resize;
    }
}

/* Additional utility classes */
.non-selectable-text {
    user-select: none;
    pointer-events: none;
}

body.resizing {
    cursor: col-resize;
}