@reference 'tailwindcss' source(none);

@import '../filament-base-theme.css';

@source "../../views/components/media-library/**/*.blade.php";
@source "../../views/livewire/components/media-library/**/*.blade.php";
@source "../../views/forms/components/media-picker/**/*.blade.php";

.media-library {
    @apply rounded-md bg-white dark:bg-(--gray-900);

    .media-library__header,
    .media-library__footer {
        @apply h-14 px-4 py-2 backdrop-blur-sm ring-1 ring-slate-900/10 bg-(--gray-50)/50 dark:ring-black/10 dark:bg-(--gray-700)/50;
    }
    .media-library__header {
        @apply top-14 sticky z-10 flex items-center justify-between;
    }

    /* Media Library Contents */
    .media-library__content {
        @apply flex relative;
        height: 70svh; /* 70% of the viewport height */

        .folder-ctn {
            @apply flex-auto absolute lg:static w-64 max-w-[250px];
        }

        .browser-ctn {
            @apply relative flex-1 grow p-4 min-w-[300px];
        }

        .detail-info-ctn {
            @apply relative flex-auto p-4 border-l min-w-96 max-w-[400px] border-(--gray-300) dark:border-(--gray-700);
        }
    }

    /* Actions' containers */
    .actions,
    .media-library__header__actions {
        @apply flex gap-x-2;
    }

    /** Breadcrumbs */
    .breadcrumb button:hover {
        text-decoration: underline;
    }

    /* Browser Item's animations */
    .media-library__content .browser-ctn .browser-item {
        transition:
            transform 0.2s ease,
            opacity 0.2s ease;
        &.dragging {
            opacity: 0.5;
            transform: rotate(5deg) scale(0.95);
        }
        &.drag-over {
            transform: scale(1.05);
        }
    }
    .drag-overlay {
        @apply absolute animate-pulse inset-0 border-2 border-dashed rounded-lg z-10 opacity-50;
        background-color: var(--primary-200);
        border-color: var(--primary-400);
    }

    /* ### */
    /* Media Library Main Content */
    /* ### */
    /* Header Forms of the Main Content */
    .media-library__content {
        .browser-ctn {
            @apply flex flex-col gap-4;

            .browser__header {
                @apply flex flex-col gap-2 items-end justify-end w-full;

                .upload-ctn {
                    @apply w-full;
                }

                .filter-ctn {
                    @apply flex gap-4 items-center flex-wrap;

                    > form {
                        @apply min-w-[14rem];
                    }
                    form#filterForm {
                        @apply flex-1;
                    }
                }
            }

            .browser-items-groups .browser-items-group {
                &:not(:last-child) {
                    @apply mb-6;
                }
                h4 {
                    @apply text-lg font-bold;
                }
                /* Grid adjustments for media library browser items */
                .browser-items {
                    @apply grid grid-cols-2 md:grid-cols-3 2xl:grid-cols-6 gap-4;
                }
            }

            /* Browser Item */
            .browser-item {
                /* Checkbox styles */
                @apply p-2 gap-3 rounded-lg shadow-sm hover:shadow-md transition-shadow select-none
                    checked:bg-(--primary-200) dark:checked:bg-(--primary-800);
                input[type='checkbox'] {
                    @apply w-4 h-4 text-(--primary-600) bg-(--gray-100) border-(--gray-300) rounded-sm focus:ring-(--primary-500) dark:focus:ring-(--primary-600) dark:ring-offset-(--gray-700) dark:focus:ring-offset-(--gray-700) focus:ring-2 dark:bg-(--gray-600) dark:border-(--gray-500)
                        accent-(--primary-600) dark:accent-(--primary-500)
                        transition duration-75
                        checked:ring-0 indeterminate:ring-0;
                }

                .item-content {
                    @apply p-3 min-h-[120px] relative;

                    .thumbnail-ctn {
                        @apply mb-2 flex justify-center;
                    }
                }
            }
        }
    }

    /* Cursor */
    .media-library__content
        .browser-ctn
        .browser-item.browser-item-selectable
        .main,
    .folder-item {
        @apply cursor-pointer;
    }

    /* Thumbnail */
    .thumbnail-ctn {
        svg,
        img {
            @apply w-12 h-12;
            /* Smooth transitions for folder icons */
            transition: all 0.2s ease-in-out;
        }
        .img-placeholder {
            @apply w-12 h-12
                rounded-lg animate-pulse;
            background-color: var(--gray-200);
            @variant dark {
                background-color: var(--gray-600);
            }
        }
    }
    .thumbnail-ctn svg,
    .thumbnail-ctn svg.folder-icon,
    .media-library__folders .folder-item svg {
        color: var(--color-500);
    }

    /* ### */
    /* Folder Browser */
    /* ### */
    .media-library__content {
        .folder-ctn {
            &:not(.expanded) .folder-ctn__main {
                @apply hidden lg:block;
            }
            &.expanded {
                @apply w-80 top-0 bottom-0 backdrop-blur-sm ring-1 ring-slate-900/10;
            }
            .folder-ctn__main {
                @apply h-full p-2
                    bg-(--gray-50) dark:ring-black/10 dark:bg-(--gray-700)/80;

                .media-library__folders > .main {
                    @apply px-2 pt-14 lg:pt-2;
                }
            }
            &.expanded .trigger {
                @apply right-0;
            }
            .trigger {
                @apply p-3 lg:hidden fixed z-10;
                button {
                    @apply p-4 rounded-full shadow-md ring-1 backdrop-blur-sm
                        ring-(--gray-300) dark:ring-(--gray-600) dark:bg-(--gray-600)
                        hover:dark:bg-(--gray-600)/80;
                }
            }
        }

        .folder-item {
            @apply flex items-center gap-2 p-2 rounded-lg
                hover:ring-1 hover:ring-(--gray-300) dark:hover:ring-white/20;
            &.selected {
                @apply bg-(--gray-200) dark:bg-white/5;
            }
            &.selected .title {
                color: var(--primary-600);
            }
            .main {
                @apply flex-1 inline-flex flex-col;
                .description {
                    @apply text-(--gray-400) text-sm;
                }
            }
            svg.icon {
                @apply w-6 h-6;
            }
        }
    }

    /* Media Item Details */
    .media-library__content {
        .detail-info-ctn {
            @apply border-(--gray-300) dark:border-(--gray-700);
        }
        .media-library__details {
            .header {
                @apply flex items-center justify-between;
                .heading {
                    @apply w-full truncate;
                }
            }
            .thumbnail-ctn {
                @apply py-4 flex items-center justify-center;
                svg,
                img {
                    @apply w-24 h-24;
                }
            }
        }
    }

    /* .fi-modal-close-overlay, */
    /* .fi-modal-close-overlay ~ div:has(.media-library-browser-modal-content) { */
    /* Ensure this is higher than any other modal */
    /* z-index: 10000;  */
    /* } */

    .folder-ctn.expanded {
        /* Ensure folder container is above the modal */
        /* z-index: 10001;  */
        @apply z-10;
    }

    /* Loading sections */
    .media-library__loading-sections {
        @apply gap-4;
        .media-library__loading-section {
            @apply p-4 rounded-lg ring-1 ring-(--gray-300)/50 dark:ring-white/10;
            .bar-ctn {
                @apply animate-pulse grid grid-cols-1 gap-4;
            }
            .bar-ctn .bar {
                @apply h-2 rounded bg-(--gray-300) dark:bg-white/10;
            }
        }
    }
}

/* Allow Scollbar */
.media-library__content {
    @apply w-full overflow-x-auto;
}
.media-library__content > .ctn,
.media-library__folders,
.media-library__details {
    @apply overflow-y-auto;
}
.media-library__folders,
.media-library__details {
    @apply h-full; /* Ensure y scoll bar at the end */
}
/* Custom Scrollbar styles */
.media-library__content,
.media-library__content > .ctn,
.media-library__folders,
.media-library__details {
    &::-webkit-scrollbar {
        @apply w-3 h-3;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        @apply rounded-full;
        background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb {
        @apply bg-(--primary-100) hover:bg-(--primary-300)
            dark:bg-(--gray-800) dark:hover:bg-(--gray-700);
    }
}

/* Media Library Browser Modal */
.media-library-browser-modal .media-library__content {
    @apply h-[calc(100vh-16rem)];
}
.media-library-browser-modal .fi-modal-content:has(.media-library) {
    @apply !p-0;
}

/* Form field */
.fi-fo-media-picker {
    .title-ctn {
        @apply select-none;
    }
}
.media-library
    .fi-fo-select
    .choices__inner:has(.choices__list .choices__item--selectable)
    > .choices__input {
    display: none; /* Hide the input field */
}
