.media-library {
    @apply rounded-md bg-white;
    &:is(.dark *) {
        background-color: rgba(var(--gray-900),1);
    }
}

.media-library__header, .media-library__footer {
    @apply h-14 px-4 py-2 backdrop-blur-sm ring-1 ring-slate-900/10;
    background-color: rgba(var(--gray-50),0.5);
    &:is(.dark *) {
        @apply ring-black/10;
        background-color: rgba(var(--gray-700),0.5);
    }
}
.media-library__header {
    @apply top-16 sticky z-10 flex items-center justify-between;
}

.media-library__content {
    @apply flex relative h-svh;

    > .ctn {
        @apply h-full overflow-y-scroll;

        &::-webkit-scrollbar {
            @apply w-3 h-3;
        }
        &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
            @apply rounded-full;
            background: transparent;
        }
        &:hover::-webkit-scrollbar-thumb {
            background-color: rgba(var(--primary-100),1);
            &:hover {
                background-color: rgba(var(--primary-300),1);
            }
        }
        &:is(.dark *):hover::-webkit-scrollbar-thumb {
            background-color: rgba(var(--gray-800),1);
            &:hover {
                background-color: rgba(var(--gray-700),1);
            }
        }

    }
    > .browser-ctn {
        @apply p-4 flex-1 grow;
        .filter-ctn {
            @apply flex flex-col gap-4 md:flex-row md:items-center md:justify-between;
        }
        .browser-items-ctn {
            @apply flex flex-col gap-y-4;
        }
        > .ctn {
            @apply pb-4;
        }
    }
    > .folder-ctn {
        @apply flex-auto absolute lg:static;
        max-width: 250px;

        &:not(.expanded)  {
            .folder-ctn__main {
                @apply hidden lg:block;
            }
        }

        &.expanded {
            @apply w-80 top-0 bottom-0 overflow-y-auto overflow-x-hidden backdrop-blur-sm ring-1 ring-slate-900/10;
            
        }

        .folder-ctn__main {
            @apply h-full p-2;
            background-color: rgba(var(--gray-50),0.8);

            &:is(.dark *) {
                @apply ring-black/10;
                background-color: rgba(var(--gray-700),0.8);
            }
        }
        
        .trigger {
            @apply p-3 lg:hidden fixed z-10;
        }
    }
    > .detail-info-ctn {
        @apply flex-auto p-4;
        max-width: 400px;
        border-left: 1px solid rgba(var(--gray-300), 1);

        &:is(.dark *) {
            border-color: rgba(var(--gray-700), 1);
        }
    }
}

.media-library {
    .header {
        @apply pb-4;

        .title {
            @apply text-lg font-bold;
        }
    }
    .thumbnail-ctn  svg {
        color: rgba(var(--gray-400), 1);
    }
    .filter-ctn form {
        @apply flex items-center gap-1 justify-end;
        &#filterForm {
            @apply flex-1;
        }
    }
    .actions, .media-library__header__actions {
        @apply flex gap-x-2;
    }

    .browser-item, .folder-item {
        @apply rounded-lg;
        &:hover {
            @apply ring-1;
            --tw-ring-color: rgb(var(--gray-300));
        }
        &:is(.dark *) {
            @apply hover:ring-white/20;
        }
    }
    .browser-item .title-ctn, .browser-item img, .folder-item .main, .browser-items-grid-ctn {
        @apply select-none;
    }

    .browser-items-grid-ctn {
        h4 {
            @apply text-lg font-bold;
        }
        .browser-items-grid {
            @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2;
        }
    }

    .browser-item :not(:has(:disabled)) .main, .folder-item {
        @apply cursor-pointer;
    }

    .browser-item {
        @apply p-2 gap-3;
        &:has(:checked) {
            background-color: rgba(var(--primary-200), 1);
        }
        &:has(:checked):is(.dark *) {
            background-color: rgba(var(--primary-600), 0.4);
        }
        &:not(:has(:disabled)) .main {
            @apply cursor-pointer;
        }

        .header {
            @apply flex items-center justify-between;
        }

        input[type=checkbox] {

            @apply appearance-none rounded border-none bg-white shadow-sm ring-1 transition duration-75;
            
            --tw-ring-color: rgb(var(--gray-400));

            &:checked, &:indeterminate, &:focus-visible {
                border-color: rgba(var(--primary-600), 1);
                background-color: rgba(var(--primary-600), 1);
            }

            &:checked, &:indeterminate {
                @apply ring-0;
            }
            &:focus-visible, &:focus {
                @apply ring-2 ring-offset-0;
            }

            &:disabled {

                @apply pointer-events-none;

                color: rgb(var(--gray-50));
                background-color: rgb(var(--gray-50));
                
                &:checked, &:indeterminate {
                    color: rgb(var(--gray-400));
                    background-color: rgb(var(--gray-400));
                }
            }

            &:is(.dark *) {
                @apply bg-white/5;

                &:disabled {
                    @apply bg-transparent;

                    &:checked, &:indeterminate {
                        background-color: rgb(var(--gray-600));
                    }
                }

            }
        }
        
        .thumbnail-ctn {
            @apply h-24 w-24 max-w-full;
        }
        .thumbnail-ctn img {
            @apply w-full object-cover;
        }

        .main {
            @apply w-full flex flex-col gap-y-1 items-center justify-center;
        }

        .title-ctn {
            @apply flex flex-col items-center justify-center gap-y-1 overflow-hidden w-full;

            span {
                @apply w-full text-center truncate;
            }

            .description {
                @apply text-gray-400 text-sm;
            }
        }
    }

    .folder-item {
        @apply flex items-center gap-2 p-2;
        &.selected {
            @apply bg-gray-200;
            .title {
                color: rgba(var(--primary-600), 1)
            }
        }
        &.selected:is(.dark *) {
            @apply bg-white/5;
        }

        .main {
            @apply flex-1 inline-flex flex-col;
            .description {
                @apply text-gray-400 text-sm;
            }
        }

        svg.icon {
            @apply w-6 h-6;
            color: rgba(var(--c-400), 1)
        }
    }

    .media-library__details {
        .header {
            @apply flex items-center justify-between;
            .heading {
                @apply w-full truncate;
            }
        }
        .thumbnail-ctn {
            @apply py-4 flex items-center justify-center;
            img, svg {
                @apply w-48 h-48;
            }
        }
        .information-ctn {
            @apply font-mono pb-2;

            .title-ctn {
                @apply pb-4;
                > span {
                    @apply font-bold;
                }
            }
        }
        .information-content-ctn {
            .information-content__row {
                @apply grid grid-cols-3 gap-2 pb-2 ;
                
                .information-content__row__label {
                    @apply col-span-1 text-sm text-gray-500;
                }
                .information-content__row__value {
                    @apply col-span-2 font-semibold truncate;
                }
            }
        }
    }
}

.fi-modal-close-overlay, .fi-modal-close-overlay ~ div:has(.media-library-browser-modal-content) {
    z-index: 10000; /* Ensure this is higher than any other modal */
}

.media-library-browser-modal-content .media-library__content {
    @apply h-[calc(100vh-16rem)];
}
.media-library-browser-modal-content .fi-modal-content:has(.media-library) {
    @apply !p-0;
}

.media-library__loading-sections {
    @apply gap-4;

    .media-library__loading-section {
        @apply p-4 rounded-lg ring-1 ring-gray-300/50;
        &:is(.dark *) {
            @apply ring-white/10;
        }

        .bar-ctn {
            @apply animate-pulse grid grid-cols-1 gap-4;

            .bar  {
                @apply h-2 rounded bg-gray-300;
                &:is(.dark *) {
                    @apply bg-white/10;
                }
            }
        }
    }
}

.browser-item .icon-folder-active {
    display: none;
}
.drag-and-drop__item--drag-over {
    @apply bg-gray-200/50 !important;
    &:is(.dark *) {
        @apply bg-white/5 !important;
    }

    .icon-folder {
        display: none !important;
    }
    .icon-folder-active {
        display: block !important;
    }
}