.media-library {
    @apply rounded-md bg-white;
    &:is(.dark *) {
        background-color: rgba(var(--gray-900),1);
    }

    .media-library__header, .media-library__footer {
        @apply h-14 px-4 py-2 backdrop-blur-sm ring-1 ring-slate-900/10;
        background-color: rgba(var(--gray-50),0.5);
        &:is(.dark *) {
            @apply ring-black/10;
            background-color: rgba(var(--gray-700),0.5);
        }
    }
    .media-library__header {
        @apply top-16 sticky z-10 flex items-center justify-between;
    }

    /* Media Library Contents */
    .media-library__content {
        @apply flex relative;
        height: 70svh; /* 70% of the viewport height */
    }
    .media-library__content .folder-ctn {
        @apply flex-auto absolute lg:static w-64 max-w-[300px];
    }
    .media-library__content .browser-ctn {
        @apply flex-1 grow p-4 min-w-[300px];
    }
    .media-library__content .detail-info-ctn {
        @apply flex-auto p-4 border-l min-w-96 max-w-[400px];
        border-color: rgba(var(--gray-300), 1);
        &:is(.dark *) {
            border-color: rgba(var(--gray-700), 1);
        }
    }

    /* Actions' containers */
    .actions, .media-library__header__actions {
        @apply flex gap-x-2;
    }

    /** Breadcrumbs */
    .breadcrumb button:hover {
        text-decoration: underline;
    }

    /* Browser Item's animations */
    .media-library__content .browser-ctn .browser-item {
        transition: transform 0.2s ease, opacity 0.2s ease;
        &.dragging {
            opacity: 0.5;
            transform: rotate(5deg) scale(0.95);
        }
        &.drag-over {
            transform: scale(1.05);
        }
    }
    .drag-overlay {
        @apply absolute animate-pulse inset-0 border-2 border-dashed rounded-lg z-10;
        background-color: rgba(var(--primary-200), 0.4);
        border-color: rgba(var(--primary-400), 1);
    }

    /* ### */
    /* Main Content */
    /* ### */
    /* Header Forms of the Main Content */ 
    .media-library__content .browser-ctn {
        @apply flex flex-col gap-4;
    }
    .media-library__content .browser-ctn .browser__header {
        @apply flex flex-col gap-2 items-end justify-end;
    }
    .media-library__content .browser-ctn .browser__header .upload-ctn {
        @apply w-full;
    }
    .media-library__content .browser-ctn .browser__header .filter-ctn {
        @apply flex flex-col items-end justify-between gap-2 lg:flex-row lg:items-center;
    }
    .media-library__content .browser-ctn .browser__header .filter-ctn form#filterForm {
        @apply flex-1;
    }
    .media-library__content .browser-ctn .browser-items-groups .browser-items-group h4 {
        @apply text-lg font-bold;
    }

    /* Browser Item */
    .media-library__content .browser-ctn .browser-item .item-content {
        @apply p-3 min-h-[120px] relative ;
    }
    .media-library__content .browser-ctn .browser-item:not(:has(:disabled)) .item-content, .folder-item {
        @apply cursor-pointer;
    }
    .media-library__content .browser-ctn .browser-item {
        @apply p-2 gap-3 rounded-lg shadow-sm hover:shadow-md transition-shadow select-none;
        &:has(:checked) {
            background-color: rgba(var(--primary-200), 1);
        }
        &:has(:checked):is(.dark *) {
            background-color: rgba(var(--primary-600), 0.4);
        }
        &:not(:has(:disabled)) .main {
            @apply cursor-pointer;
        }
        input[type=checkbox] {
            @apply appearance-none rounded border-none bg-white shadow-sm ring-1 transition duration-75;
            --tw-ring-color: rgb(var(--gray-400));
            &:checked, &:indeterminate, &:focus-visible {
                border-color: rgba(var(--primary-600), 1);
                background-color: rgba(var(--primary-600), 1);
            }
            &:checked, &:indeterminate {
                @apply ring-0;
            }
            &:focus-visible, &:focus {
                @apply ring-2 ring-offset-0;
            }
            &:disabled {
                @apply pointer-events-none;
                color: rgb(var(--gray-50));
                background-color: rgb(var(--gray-50));
                &:checked, &:indeterminate {
                    color: rgb(var(--gray-400));
                    background-color: rgb(var(--gray-400));
                }
            }
            &:is(.dark *) {
                @apply bg-white/5;
                &:disabled {
                    @apply bg-transparent;
                    &:checked, &:indeterminate {
                        background-color: rgb(var(--gray-600));
                    }
                }
            }
        }
    }
    .media-library__content .browser-ctn .browser-items-groups .browser-items-group .browser-items {
        /* Grid adjustments for media library browser items */
        @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4;
    }
    &.media-library--detail-expanded .media-library__content .browser-ctn .browser-items-groups .browser-items-group .browser-items {
        /* Grid adjustments for media library browser items */
        @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
    }

    /* Thumbnail */
    .thumbnail-ctn svg, .thumbnail-ctn img {
        @apply w-12 h-12;
        /* Smooth transitions for folder icons */
        transition: all 0.2s ease-in-out;
    }
    .thumbnail-ctn svg {
        color: rgba(var(--gray-500), 1);
    }
    .thumbnail-ctn svg.folder-icon,
    .media-library__folders .folder-item svg {
        color: rgba(var(--c-500), 1);
    }
    .thumbnail-ctn svg.folder-icon.active {
        color: rgba(var(--c-600), 1);
    }
        
    /* Folder Browser */
    .media-library__content .folder-ctn {
        &:not(.expanded) .folder-ctn__main {
            @apply hidden lg:block;
        }
        &.expanded {
            @apply w-80 top-0 bottom-0 backdrop-blur-sm ring-1 ring-slate-900/10;
        }
        .folder-ctn__main {
            @apply h-full p-2;
            background-color: rgba(var(--gray-50),0.8);
            &:is(.dark *) {
                @apply ring-black/10;
                background-color: rgba(var(--gray-700),0.8);
            }
        }
        .folder-ctn__main .media-library__folders > .main {
            @apply px-2 pt-14 lg:pt-2;
        }
        .trigger {
            @apply p-3 lg:hidden fixed z-10;
        }
        &.expanded .trigger {
            @apply right-0;
        }
        .trigger button {
            @apply p-4 rounded-full shadow-md ring-1 backdrop-blur-sm;
            --tw-ring-color: rgb(var(--gray-300));
            &:is(.dark *) {
                background-color: rgba(var(--gray-600), 1);
                --tw-ring-color: rgba(var(--gray-400), 0.2);
            }
            &:hover {
                &:is(.dark *) {
                    background-color: rgba(var(--gray-600), 0.8);
                }
            }
        }
    }
    .media-library__folders .folder-item {
        @apply flex items-center gap-2 p-2 rounded-lg;
        &:hover {
            @apply ring-1;
            --tw-ring-color: rgb(var(--gray-300));
        }
        &:is(.dark *) {
            @apply hover:ring-white/20;
        }
        &.selected {
            @apply bg-gray-200;
        }
        &.selected .title {
            color: rgba(var(--primary-600), 1)
        }
        &.selected:is(.dark *) {
            @apply bg-white/5;
        }
        .main {
            @apply flex-1 inline-flex flex-col;
        }
        .main .description {
            @apply text-gray-400 text-sm;
        }
        svg.icon {
            @apply w-6 h-6;
        }
    }

    /* Media Item Details */
    .media-library__content .detail-info-ctn {
        border-color: rgba(var(--gray-300), 1);
        &:is(.dark *) {
            border-color: rgba(var(--gray-700), 1);
        }
    }
    .media-library__details .header {
        @apply flex items-center justify-between;
    }
    .media-library__details .header .heading {
        @apply w-full truncate;
    }
    .media-library__details .thumbnail-ctn {
        @apply py-4 flex items-center justify-center;
    }
    .media-library__details .thumbnail-ctn svg {
        @apply w-48 h-48;
    }
    .media-library__details .thumbnail-ctn img {
        @apply w-24 h-24;
    }
    .media-library__details .information-ctn {
        @apply font-mono pb-2;
    }
    .media-library__details .information-ctn .title-ctn {
        @apply pb-4;
    }
    .media-library__details .information-ctn .title-ctn span {
        @apply font-bold;
    }
    .media-library__details .information-ctn .title-ctn {
        @apply pb-4;
    }
    .media-library__details .information-content-ctn {
        .information-content__row {
            @apply grid grid-cols-3 gap-2 pb-2 ;
            
            .information-content__row__label {
                @apply col-span-1 text-sm text-gray-500;
            }
            .information-content__row__value {
                @apply col-span-2 font-semibold truncate;
            }
        }
    }


    .fi-modal-close-overlay, .fi-modal-close-overlay ~ div:has(.media-library-browser-modal-content) {
        /* Ensure this is higher than any other modal */
        /* z-index: 10000;  */
    }

    .folder-ctn.expanded {
        /* Ensure folder container is above the modal */
        /* z-index: 10001;  */
        @apply z-10;
    }


    /* Loading sections */
    .media-library__loading-sections {
        @apply gap-4;
    }
    .media-library__loading-sections .media-library__loading-section {
        @apply p-4 rounded-lg ring-1 ring-gray-300/50;
        &:is(.dark *) {
            @apply ring-white/10;
        }
        .bar-ctn {
            @apply animate-pulse grid grid-cols-1 gap-4;
        }
        .bar-ctn .bar  {
            @apply h-2 rounded bg-gray-300;
            &:is(.dark *) {
                @apply bg-white/10;
            }
        }
    }
}

/* Allow Scollbar */
.media-library__content {
    @apply w-full overflow-x-auto;
}
.media-library__content > .ctn, 
.media-library__folders,
.media-library__details {
    @apply overflow-y-auto; 
}
.media-library__folders,
.media-library__details {
    @apply h-full; /* Ensure y scoll bar at the end */
}
/* Custom Scrollbar styles */
.media-library__content,
.media-library__content > .ctn, 
.media-library__folders, 
.media-library__details {
    &::-webkit-scrollbar {
        @apply w-3 h-3;
    }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
        @apply rounded-full;
        background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(var(--primary-100),1);
        &:hover {
            background-color: rgba(var(--primary-300),1);
        }
    }
    &:is(.dark *):hover::-webkit-scrollbar-thumb {
        background-color: rgba(var(--gray-800),1);
        &:hover {
            background-color: rgba(var(--gray-700),1);
        }
    }
}

/* Media Library Browser Modal */
.media-library-browser-modal-content .media-library__content {
    @apply h-[calc(100vh-16rem)];
}
.media-library-browser-modal-content .fi-modal-content:has(.media-library) {
    @apply !p-0;
}

/* Form field */
.fi-fo-media-picker {
    .title-ctn {
        @apply select-none;
    }
}